ul, li, {
	margin: 0px;
	padding: 0px;
	list-style: none;
	list-style-type: none;
}

.r-tree {
	color: #f00;
	font-size: 16px;
}

.tree {
	margin-left: 20px;
	.node-item {
		display: flex;
		align-items: center;
		&.selected {
			background: blue;
		}
	}
}

.triangle() {
	border-top: 10px solid #3cbaff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.switcher {
	position: relative;
	display: inline-block;
	width: 22px;
	height: 22px;
	transition: ease-in .3s ease-out;
	&:after {
		position: absolute;
		top: 6px;
		left: 1px;
		content: '';
		.triangle()
	}
	&.expanded:after {
		position: absolute;
		top: 6px;
		left: 1px;
		content: '';
		transform: rotate(-90deg);
		.triangle()
	}
}
