ul, li, {
	margin: 0px;
	padding: 0px;
	list-style: none;
	list-style-type: none;
}

.r-tree {
	color: #f00;
	font-size: 16px;
}

.tree {
	margin-left: 20px;
	.node-item {
		display: flex;
		align-items: center;
		.node-content {
			padding: 0px 6px;
			border-radius: 3px;
			&.selected {
				color: #fff;
				background: #3cbaff;
			}
		}

	}
}

.triangle() {
	border-top: 6px solid transparent;
	border-right: 6px solid transparent;
	border-left: 6px solid #3cbaff;
	border-bottom: 6px solid transparent;
}
.switcher-box() {
	display: inline-block;
	width: 22px;
	height: 22px;
}

.checkbox {
	display: flex;
	align-items: center;
}
.switcher {
	position: relative;
	.switcher-box();
	transform-origin: 50% 50%;
	transition: ease-in 0.1s;
	&:after {
		position: absolute;
		top: 5px;
		left: 11px;
		content: '';
		.triangle()
	}
	&.expanded {
		transform: rotate(90deg);
	}
}
.no-switcher {
	.switcher-box()
}
